# The 3 Goats: Data Scraping

Before working on the backend part of the project, I needed to grab the necessary data from the ESPN website. For all 3 of the players, the data I will be scaping "regular season average", "regular season total", "postseason average", "postseason total". The data will be stored in this these variables: 

| Lebron player: 1     | Kobe  player: 2   | Micheal player: 3    |
| :------------- | :----------: | -----------: |
| lebron_regular_season_average  | kobe_regular_season_average   | micheal_regular_season_average    |
|  lebron_regular_season_total | kobe_regular_season_total | micheal_regular_season_total
|lebron_postseason_average | kobe_postseason_average | micheal_postseason_average
| lebron_postseason_total | kobe_postseason_total | micheal_postseason_total

The data should be tabular

In [17]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import requests
from bs4 import BeautifulSoup
%matplotlib inline

# Lebron

In [18]:
# Last extraction: April 28, 2021
# Grabbing Lebron's regular seasons stats.
url_lebron_regular = "https://www.espn.com/nba/player/stats/_/id/1966/lebron-james"
df_lebron_reg = pd.read_html(url_lebron_regular)
# Grabbing Lebron's postseason stats
url_lebron_post = "https://www.espn.com/nba/player/stats/_/id/1966/type/nba/seasontype/3"
# This will provide the "seasons" & the "Team" that he played for. 
df_lebron_post = pd.read_html(url_lebron_post)
# This will provide the regular season teams
lebron_teams_reg = df_lebron_reg[0]
# This will provide the post season teams
lebron_teams_post = df_lebron_post[0]
# This will provide the regular season average
lebron_regular_season_average_stats = df_lebron_reg[1]
# This will provide the regular season total
lebron_regular_season_total_stats = df_lebron_reg[3]
# This will provide the postseason average
lebron_postseason_average_stats = df_lebron_post[1]
# This will provide the postseason total
lebron_postseason_total_stats = df_lebron_post[3]

# Regular Season Stats

## Average

In [19]:
lebron_teams.head()

NameError: name 'lebron_teams' is not defined

In [ ]:
lebron_regular_season_stats.head()

In [ ]:
lebron_full_regular_average_stats = lebron_teams_reg.join(lebron_regular_season_stats)
lebron_full_regular_average_stats.head()

In [ ]:
lebron_full_regular_average_stats['player'] = 1
lebron_full_regular_average_stats

In [ ]:
lebron_regular_season_average = lebron_full_regular_average_stats.rename(columns=str.lower)

In [ ]:
lebron_regular_season_average.head()

## Total

In [ ]:
lebron_regular_season_total_stats.head()

In [ ]:
lebron_full_regular_total_stats = lebron_teams_reg.join(lebron_regular_season_total_stats)
lebron_full_regular_total_stats['player'] = 1

In [4]:
lebron_regular_season_total = lebron_full_regular_total_stats.rename(columns=str.lower)

NameError: name 'lebron_full_regular_total_stats' is not defined

In [5]:
lebron_regular_season_total.head()

NameError: name 'lebron_regular_season_total' is not defined

# Postseason Stats

## Average

In [6]:
lebron_postseason_average_stats.head()

,GP,GS,MIN,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,13,13,46.5,11.2-23.6,47.6,1.6-4.8,33.3,6.7-9.1,73.7,1.7,6.4,8.1,5.8,0.7,1.4,3.4,5.0,30.8
1,20,20,44.7,8.3-20.0,41.6,1.1-3.8,28.0,7.4-9.8,75.5,1.3,6.8,8.1,8.0,0.5,1.7,2.0,3.3,25.1
2,13,13,42.5,8.7-21.2,41.1,1.4-5.4,25.7,9.4-12.8,73.1,1.2,6.6,7.8,7.6,1.3,1.8,2.5,4.2,28.2
3,14,14,41.4,11.4-22.3,51.0,1.9-5.8,33.3,10.6-14.2,74.9,1.4,7.8,9.1,7.3,0.9,1.6,2.1,2.7,35.3
4,11,11,41.8,9.6-19.2,50.2,1.8-4.5,40.0,8.0-10.9,73.3,1.4,7.9,9.3,7.6,1.8,1.7,2.1,3.8,29.1

In [7]:
lebron_full_postseason_average_stats = lebron_teams_post.join(lebron_postseason_average_stats)
lebron_full_postseason_average_stats['player'] = 1
lebron_postseason_average = lebron_full_postseason_average_stats.rename(columns=str.lower)
lebron_postseason_average

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,2005-06,CLE,13,13,46.5,11.2-23.6,47.6,1.6-4.8,33.3,6.7-9.1,...,1.7,6.4,8.1,5.8,0.7,1.4,3.4,5.0,30.8,1
1,2006-07,CLE,20,20,44.7,8.3-20.0,41.6,1.1-3.8,28.0,7.4-9.8,...,1.3,6.8,8.1,8.0,0.5,1.7,2.0,3.3,25.1,1
2,2007-08,CLE,13,13,42.5,8.7-21.2,41.1,1.4-5.4,25.7,9.4-12.8,...,1.2,6.6,7.8,7.6,1.3,1.8,2.5,4.2,28.2,1
3,2008-09,CLE,14,14,41.4,11.4-22.3,51.0,1.9-5.8,33.3,10.6-14.2,...,1.4,7.8,9.1,7.3,0.9,1.6,2.1,2.7,35.3,1
4,2009-10,CLE,11,11,41.8,9.6-19.2,50.2,1.8-4.5,40.0,8.0-10.9,...,1.4,7.9,9.3,7.6,1.8,1.7,2.1,3.8,29.1,1
5,2010-11,MIA,21,21,43.9,8.3-17.8,46.6,1.4-4.0,35.3,5.7-7.4,...,1.6,6.8,8.4,5.9,1.2,1.7,2.7,3.1,23.7,1
6,2011-12,MIA,23,23,42.7,10.9-21.8,50.0,1.0-3.7,25.9,7.5-10.2,...,2.3,7.4,9.7,5.6,0.7,1.9,2.0,3.5,30.3,1
7,2012-13,MIA,23,23,41.7,9.2-18.8,49.1,1.6-4.2,37.5,5.9-7.6,...,1.6,6.8,8.4,6.6,0.8,1.8,1.9,3.0,25.9,1
8,2013-14,MIA,20,20,38.2,9.6-17.0,56.5,1.8-4.3,40.7,6.5-8.0,...,0.7,6.4,7.1,4.8,0.6,1.8,2.3,3.1,27.4,1
9,2014-15,CLE,20,20,42.2,11.4-27.2,41.7,1.3-5.5,22.7,6.1-8.4,...,1.9,9.5,11.3,8.5,1.1,1.7,2.9,4.1,30.1,1
10,2015-16,CLE,21,21,39.1,10.4-19.9,52.5,1.5-4.5,34.0,3.9-5.9,...,2.0,7.5,9.5,7.6,1.3,2.3,2.6,3.6,26.3,1
11,2016-17,CLE,18,18,41.3,12.1-21.3,56.5,2.4-5.9,41.1,6.3-9.0,...,1.1,8.1,9.1,7.8,1.3,1.9,2.4,4.0,32.8,1
12,2017-18,CLE,22,22,41.9,12.5-23.2,53.9,1.8-5.2,34.2,7.2-9.7,...,1.4,7.7,9.1,9.0,1.0,1.4,2.4,4.3,34.0,1
13,2019-20,LAL,21,21,36.3,10.2-18.2,56.0,2.1-5.7,37.0,5.1-7.1,...,1.3,9.4,10.8,8.8,0.9,1.2,1.9,4.0,27.6,1
14,Career,NaN,260,260,41.6,10.3-20.7,49.6,1.6-4.8,33.5,6.7-9.0,...,1.5,7.5,9.0,7.2,1.0,1.7,2.3,3.7,28.8,1

## Total

In [8]:
lebron_postseason_total_stats.head()

,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,146-307,47.6,21-63,33.3,87-118,73.7,22,83,105,76,9,18,44,65,400
1,166-399,41.6,21-75,28.0,148-196,75.5,26,135,161,159,10,34,40,66,501
2,113-275,41.1,18-70,25.7,122-167,73.1,16,86,102,99,17,23,33,54,366
3,159-312,51.0,27-81,33.3,149-199,74.9,19,109,128,102,12,23,30,38,494
4,106-211,50.2,20-50,40.0,88-120,73.3,15,87,102,84,20,19,23,42,320

In [9]:
lebron_full_postseason_total_stats = lebron_teams_post.join(lebron_postseason_total_stats)
lebron_full_postseason_total_stats['player'] = 1
lebron_postseason_total = lebron_full_postseason_total_stats.rename(columns=str.lower)
lebron_postseason_total.tail()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
10,2015-16,CLE,219-417,52.5,32-94,34.0,82-124,66.1,42,158,200,160,27,49,54,75,552,1
11,2016-17,CLE,217-384,56.5,44-107,41.1,113-162,69.8,19,145,164,141,23,35,43,72,591,1
12,2017-18,CLE,275-510,53.9,39-114,34.2,159-213,74.6,31,169,200,198,23,30,52,94,748,1
13,2019-20,LAL,214-382,56.0,44-119,37.0,108-150,72.0,28,198,226,184,18,26,40,84,580,1
14,Career,NaN,2671-5388,49.6,414-1235,33.5,1735-2341,74.1,394,1954,2348,1871,250,445,609,950,7491,1

# Kobe

In [10]:
# Last extraction: April 28, 2021
# Grabbing Kobe's regular seasons stats.
url_kobe_regular = "https://www.espn.com/nba/player/stats/_/id/110/kobe-bryant"
df_kobe_reg = pd.read_html(url_kobe_regular)
# Grabbing Kobe's postseason stats
url_kobe_post = "https://www.espn.com/nba/player/stats/_/id/110/type/nba/seasontype/3"
# This will provide the "seasons" & the "Team" that he played for. 
df_kobe_post = pd.read_html(url_kobe_post)
# This will provide the regular season teams
kobe_teams_reg = df_kobe_reg[0]
# This will provide the post season teams
kobe_teams_post = df_kobe_post[0]
# This will provide the regular season average
kobe_regular_season_average_stats = df_kobe_reg[1]
# This will provide the regular season total
kobe_regular_season_total_stats = df_kobe_reg[3]
# This will provide the postseason average
kobe_postseason_average_stats = df_kobe_post[1]
# This will provide the postseason total
kobe_postseason_total_stats = df_kobe_post[3]

# Regular Season Stats

## Average

In [11]:
kobe_teams.head()

NameError: name 'kobe_teams' is not defined

In [258]:
kobe_regular_season_average_stats.head()

,GP,GS,MIN,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,71,6,15.5,2.5-5.9,41.7,0.7-1.9,37.5,1.9-2.3,81.9,0.7,1.2,1.9,1.3,0.3,0.7,1.4,1.6,7.6
1,79,1,26.0,4.9-11.6,42.8,0.9-2.8,34.1,4.6-5.8,79.4,1.0,2.1,3.1,2.5,0.5,0.9,2.3,2.0,15.4
2,50,50,37.9,7.2-15.6,46.5,0.5-2.0,26.7,4.9-5.8,83.9,1.1,4.2,5.3,3.8,1.0,1.4,3.1,3.1,19.9
3,66,62,38.2,8.4-17.9,46.8,0.7-2.2,31.9,5.0-6.1,82.1,1.6,4.7,6.3,4.9,0.9,1.6,3.3,2.8,22.5
4,68,68,40.9,10.3-22.2,46.4,0.9-2.9,30.5,7.0-8.2,85.3,1.5,4.3,5.9,5.0,0.6,1.7,3.3,3.2,28.5

In [259]:
kobe_full_regular_average_stats = kobe_teams_reg.join(kobe_regular_season_average_stats)
kobe_full_regular_average_stats['player'] = 2
kobe_regular_season_average = kobe_full_regular_average_stats.rename(columns=str.lower)
kobe_regular_season_average.head()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,1996-97,LAL,71,6,15.5,2.5-5.9,41.7,0.7-1.9,37.5,1.9-2.3,...,0.7,1.2,1.9,1.3,0.3,0.7,1.4,1.6,7.6,2
1,1997-98,LAL,79,1,26.0,4.9-11.6,42.8,0.9-2.8,34.1,4.6-5.8,...,1.0,2.1,3.1,2.5,0.5,0.9,2.3,2.0,15.4,2
2,1998-99,LAL,50,50,37.9,7.2-15.6,46.5,0.5-2.0,26.7,4.9-5.8,...,1.1,4.2,5.3,3.8,1.0,1.4,3.1,3.1,19.9,2
3,1999-00,LAL,66,62,38.2,8.4-17.9,46.8,0.7-2.2,31.9,5.0-6.1,...,1.6,4.7,6.3,4.9,0.9,1.6,3.3,2.8,22.5,2
4,2000-01,LAL,68,68,40.9,10.3-22.2,46.4,0.9-2.9,30.5,7.0-8.2,...,1.5,4.3,5.9,5.0,0.6,1.7,3.3,3.2,28.5,2

## Total

In [260]:
kobe_regular_season_total_stats.head()

,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,176-422,41.7,51-136,37.5,136-166,81.9,47,85,132,91,23,49,102,112,539
1,391-913,42.8,75-220,34.1,363-457,79.4,79,163,242,199,40,74,180,157,1220
2,362-779,46.5,27-101,26.7,245-292,83.9,53,211,264,190,50,72,153,157,996
3,554-1183,46.8,46-144,31.9,331-403,82.1,108,308,416,323,62,106,220,182,1485
4,701-1510,46.4,61-200,30.5,475-557,85.3,104,295,399,338,43,114,222,220,1938

In [261]:
kobe_full_regular_total_stats = kobe_teams_reg.join(kobe_regular_season_total_stats)
kobe_full_regular_total_stats['player'] = 2
kobe_regular_season_total = kobe_full_regular_total_stats.rename(columns=str.lower)
kobe_regular_season_total.head()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,1996-97,LAL,176-422,41.7,51-136,37.5,136-166,81.9,47,85,132,91,23,49,102,112,539,2
1,1997-98,LAL,391-913,42.8,75-220,34.1,363-457,79.4,79,163,242,199,40,74,180,157,1220,2
2,1998-99,LAL,362-779,46.5,27-101,26.7,245-292,83.9,53,211,264,190,50,72,153,157,996,2
3,1999-00,LAL,554-1183,46.8,46-144,31.9,331-403,82.1,108,308,416,323,62,106,220,182,1485,2
4,2000-01,LAL,701-1510,46.4,61-200,30.5,475-557,85.3,104,295,399,338,43,114,222,220,1938,2

# Postseason Stats

## Average

In [262]:
kobe_postseason_average_stats.head()

,GP,GS,MIN,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,9,0,14.8,2.3-6.1,38.2,0.7-2.6,26.1,2.9-3.3,86.7,0.1,1.1,1.2,1.2,0.2,0.3,2.6,1.6,8.2
1,11,0,20.0,2.8-6.9,40.8,0.3-1.3,21.4,2.8-4.1,68.9,0.6,1.3,1.9,1.5,0.7,0.3,2.5,1.0,8.7
2,8,8,39.4,7.6-17.8,43.0,1.0-2.9,34.8,3.5-4.4,80.0,1.6,5.3,6.9,4.6,1.3,1.9,3.0,3.9,19.8
3,22,22,39.0,7.9-17.9,44.2,1.0-2.9,34.4,4.3-5.7,75.4,1.2,3.3,4.5,4.4,1.5,1.5,4.0,2.5,21.1
4,16,16,43.4,10.5-22.4,46.9,0.7-2.1,32.4,7.8-9.4,82.1,1.8,5.4,7.3,6.1,0.8,1.6,3.3,3.2,29.4

In [263]:
kobe_full_postseason_average_stats = kobe_teams_post.join(kobe_postseason_average_stats)
kobe_full_postseason_average_stats['player'] = 2
kobe_postseason_average = kobe_full_postseason_average_stats.rename(columns=str.lower)
kobe_postseason_average.tail()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
11,2008-09,LAL,23,23,40.9,10.5-23.0,45.7,1.6-4.6,34.9,7.6-8.6,...,0.8,4.5,5.3,5.5,0.9,1.7,2.6,2.6,30.2,2
12,2009-10,LAL,23,23,40.1,10.2-22.2,45.8,2.1-5.7,37.4,6.7-8.0,...,1.1,4.9,6.0,5.5,0.7,1.3,3.3,3.4,29.2,2
13,2010-11,LAL,10,10,35.4,8.3-18.6,44.6,1.2-4.1,29.3,5.0-6.1,...,0.8,2.6,3.4,3.3,0.3,1.6,2.3,3.1,22.8,2
14,2011-12,LAL,12,12,39.7,11.0-25.1,43.9,1.4-5.0,28.3,6.6-7.9,...,1.3,3.5,4.8,4.3,0.2,1.3,2.8,2.8,30.0,2
15,Career,NaN,220,200,39.3,9.2-20.5,44.8,1.3-4.0,33.1,6.0-7.4,...,1.0,4.0,5.1,4.7,0.7,1.4,3.0,2.9,25.6,2

## Total

In [264]:
kobe_postseason_total_stats.head()

,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,21-55,38.2,6-23,26.1,26-30,86.7,1,10,11,11,2,3,23,14,74
1,31-76,40.8,3-14,21.4,31-45,68.9,7,14,21,16,8,3,28,11,96
2,61-142,43.0,8-23,34.8,28-35,80.0,13,42,55,37,10,15,24,31,158
3,174-394,44.2,22-64,34.4,95-126,75.4,26,72,98,97,32,32,89,55,465
4,168-358,46.9,11-34,32.4,124-151,82.1,29,87,116,97,12,25,53,51,471

In [265]:
kobe_full_postseason_total_stats = kobe_teams.join(kobe_postseason_total_stats)
kobe_full_postseason_total_stats['player'] = 2
kobe_postseason_total = kobe_full_postseason_total_stats.rename(columns=str.lower)
kobe_postseason_total.head()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,1996-97,LAL,21-55,38.2,6-23,26.1,26-30,86.7,1.0,10.0,11.0,11.0,2.0,3.0,23.0,14.0,74.0,2
1,1997-98,LAL,31-76,40.8,3-14,21.4,31-45,68.9,7.0,14.0,21.0,16.0,8.0,3.0,28.0,11.0,96.0,2
2,1998-99,LAL,61-142,43.0,8-23,34.8,28-35,80.0,13.0,42.0,55.0,37.0,10.0,15.0,24.0,31.0,158.0,2
3,1999-00,LAL,174-394,44.2,22-64,34.4,95-126,75.4,26.0,72.0,98.0,97.0,32.0,32.0,89.0,55.0,465.0,2
4,2000-01,LAL,168-358,46.9,11-34,32.4,124-151,82.1,29.0,87.0,116.0,97.0,12.0,25.0,53.0,51.0,471.0,2

# Micheal

In [266]:
# Last extraction: April 28, 2021
# Grabbing Micheal's regular seasons stats.
url_micheal_regular = "https://www.espn.com/nba/player/stats/_/id/1035/michael-jordan"
df_micheal_reg = pd.read_html(url_micheal_regular)
# Grabbing Kobe's postseason stats
url_micheal_post = "https://www.espn.com/nba/player/stats/_/id/1035/type/nba/seasontype/3"
# This will provide the "seasons" & the "Team" that he played for. 
df_micheal_post = pd.read_html(url_micheal_post)
# This will provide the regular season teams
micheal_teams_reg = df_micheal_reg[0]
# This will provide the post season teams
micheal_teams_post = df_micheal_post[0]
# This will provide the regular season average
micheal_regular_season_average_stats = df_micheal_reg[1]
# This will provide the regular season total
micheal_regular_season_total_stats = df_micheal_reg[3]
# This will provide the postseason average
micheal_postseason_average_stats = df_micheal_post[1]
# This will provide the postseason total
micheal_postseason_total_stats = df_micheal_post[3]

# Regular Season Stats

## Average

In [267]:
micheal_full_regular_average_stats = micheal_teams_reg.join(micheal_regular_season_average_stats)
micheal_full_regular_average_stats['player'] = 3
micheal_regular_season_average = micheal_full_regular_average_stats.rename(columns=str.lower)
micheal_regular_season_average.head()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,1985,CHI,82,82,38.3,10.2-19.8,51.5,0.1-0.6,17.3,7.7-9.1,...,2.0,4.5,6.5,5.9,0.8,2.4,3.5,3.5,28.2,3
1,1986,CHI,18,7,25.1,8.3-18.2,45.7,0.2-1.0,16.7,5.8-6.9,...,1.3,2.3,3.6,2.9,1.2,2.1,2.6,2.5,22.7,3
2,1987,CHI,82,82,40.0,13.4-27.8,48.2,0.1-0.8,18.2,10.2-11.9,...,2.0,3.2,5.2,4.6,1.5,2.9,2.9,3.3,37.1,3
3,1988,CHI,82,82,40.4,13.0-24.4,53.5,0.1-0.6,13.2,8.8-10.5,...,1.7,3.8,5.5,5.9,1.6,3.2,3.3,3.1,35.0,3
4,1989,CHI,81,81,40.2,11.9-22.2,53.8,0.3-1.2,27.6,8.3-9.8,...,1.8,6.2,8.0,8.0,0.8,2.9,3.0,3.6,32.5,3

## Total

In [268]:
micheal_full_regular_total_stats = micheal_teams_reg.join(micheal_regular_season_total_stats)
micheal_full_regular_total_stats['player'] = 3
micheal_regular_season_total = micheal_full_regular_total_stats.rename(columns=str.lower)
micheal_regular_season_total.head()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,1985,CHI,837-1625,51.5,9-52,17.3,630-746,84.4,167,367,534,481,69,196,285,291,2313,3
1,1986,CHI,150-328,45.7,3-18,16.7,105-125,84.0,23,41,64,53,21,37,46,45,408,3
2,1987,CHI,1098-2279,48.2,12-66,18.2,833-972,85.7,166,264,430,377,125,236,237,272,3041,3
3,1988,CHI,1069-1998,53.5,7-53,13.2,723-860,84.1,139,310,449,485,131,259,270,252,2868,3
4,1989,CHI,966-1795,53.8,27-98,27.6,674-793,85.0,149,503,652,650,65,234,247,290,2633,3

# Postseason Stats

## Average

In [269]:
micheal_postseason_average_stats.head()

,GP,GS,MIN,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,4,4,42.8,8.5-19.5,43.6,0.3-2.0,12.5,12.0-14.5,82.8,1.8,4.0,5.8,8.5,1.0,2.8,3.8,3.8,29.3
1,3,3,45.0,16.0-31.7,50.5,0.3-0.3,100.0,11.3-13.0,87.2,1.7,4.7,6.3,5.7,1.3,2.3,4.3,4.7,43.7
2,3,3,42.7,11.7-28.0,41.7,0.7-1.7,40.0,11.7-13.0,89.7,2.3,4.7,7.0,6.0,2.3,2.0,3.7,2.7,35.7
3,10,10,42.7,13.8-26.0,53.1,0.1-0.3,33.3,8.6-9.9,86.9,2.3,4.8,7.1,4.7,1.1,2.4,3.8,3.9,36.3
4,17,17,42.2,11.7-22.9,51.0,0.6-2.1,28.6,10.8-13.5,79.9,1.5,5.5,7.0,7.6,0.8,2.5,3.8,4.0,34.8

In [270]:
micheal_full_postseason_average_stats = micheal_teams_post.join(micheal_postseason_average_stats)
micheal_full_postseason_average_stats['player'] = 3
micheal_postseason_average = micheal_full_postseason_average_stats.rename(columns=str.lower)
micheal_postseason_average.tail()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
9,1994-95,CHI,10,10,42.0,12.0-24.8,48.4,1.1-3.0,36.7,6.4-7.9,...,2.0,4.5,6.5,4.5,1.4,2.3,3.0,4.1,31.5,3
10,1995-96,CHI,18,18,40.7,10.4-22.6,45.9,1.4-3.4,40.3,8.5-10.4,...,1.7,3.2,4.9,4.1,0.3,1.8,2.7,2.3,30.7,3
11,1996-97,CHI,19,19,42.3,11.9-26.2,45.6,0.7-3.5,19.4,6.5-7.8,...,2.2,5.7,7.9,4.8,0.9,1.6,2.4,2.6,31.1,3
12,1997-98,CHI,21,21,41.5,11.6-25.0,46.2,0.6-2.0,30.2,8.6-10.6,...,1.6,3.5,5.1,3.5,0.6,1.5,2.2,2.1,32.4,3
13,Career,NaN,179,179,41.8,12.2-25.1,48.7,0.8-2.5,33.2,8.2-9.9,...,1.7,4.7,6.4,5.7,0.9,2.1,3.0,3.1,33.4,3

## Total

In [271]:
micheal_postseason_total_stats.head()

,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,PF,TO,PTS
0,34-78,43.6,1-8,12.5,48-58,82.8,7,16,23,34,4,11,15,15,117
1,48-95,50.5,1-1,100.0,34-39,87.2,5,14,19,17,4,7,13,14,131
2,35-84,41.7,2-5,40.0,35-39,89.7,7,14,21,18,7,6,11,8,107
3,138-260,53.1,1-3,33.3,86-99,86.9,23,48,71,47,11,24,38,39,363
4,199-390,51.0,10-35,28.6,183-229,79.9,26,93,119,130,13,42,65,68,591

In [272]:
micheal_full_postseason_total_stats = micheal_teams_post.join(micheal_postseason_total_stats)
micheal_full_postseason_total_stats['player'] = 3
micheal_postseason_total = micheal_full_postseason_total_stats.rename(columns=str.lower)
micheal_postseason_total.tail()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
9,1994-95,CHI,120-248,48.4,11-30,36.7,64-79,81.0,20,45,65,45,14,23,30,41,315,3
10,1995-96,CHI,187-407,45.9,25-62,40.3,153-187,81.8,31,58,89,74,6,33,49,42,552,3
11,1996-97,CHI,227-498,45.6,13-67,19.4,123-148,83.1,42,108,150,91,17,30,46,49,590,3
12,1997-98,CHI,243-526,46.2,13-43,30.2,181-223,81.2,33,74,107,74,12,32,47,45,680,3
13,Career,NaN,2188-4497,48.7,148-446,33.2,1463-1766,82.8,305,847,1152,1022,158,376,541,546,5987,3

# Data merging

Now its time to "append" the data together. I should come out with 4 Dataframes.

## Regular Season Averages

In [278]:
# Combining the 3 player's regular season averages
regular_season_averages = lebron_regular_season_average.append(kobe_regular_season_average
                                                              ).append(micheal_regular_season_average)                                                            
regular_season_averages.head()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
0,2003-04,CLE,79,79,39.5,7.9-18.9,41.7,0.8-2.7,29.0,4.4-5.8,...,1.3,4.2,5.5,5.9,0.7,1.6,1.9,3.5,20.9,1
1,2004-05,CLE,80,80,42.4,9.9-21.1,47.2,1.4-3.9,35.1,6.0-8.0,...,1.4,6.0,7.4,7.2,0.7,2.2,1.8,3.3,27.2,1
2,2005-06,CLE,79,79,42.5,11.1-23.1,48.0,1.6-4.8,33.5,7.6-10.3,...,0.9,6.1,7.0,6.6,0.8,1.6,2.3,3.3,31.4,1
3,2006-07,CLE,78,78,40.9,9.9-20.8,47.6,1.3-4.0,31.9,6.3-9.0,...,1.1,5.7,6.7,6.0,0.7,1.6,2.2,3.2,27.3,1
4,2007-08,CLE,75,74,40.4,10.6-21.9,48.4,1.5-4.8,31.5,7.3-10.3,...,1.8,6.1,7.9,7.2,1.1,1.8,2.2,3.4,30.0,1

## Regular Season Totals

In [282]:
# Combining the 3 player's regular season totals
regular_season_totals = lebron_regular_season_total.append(kobe_regular_season_total
                                                              ).append(micheal_regular_season_total)                                                            
regular_season_totals.tail()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
11,1996-97,CHI,920-1892,48.6,111-297,37.4,480-576,83.3,113,369,482,352,44,140,156,166,2431,3
12,1997-98,CHI,881-1893,46.5,30-126,23.8,565-721,78.4,130,345,475,283,45,141,151,185,2357,3
13,2001-02,WSH,551-1324,41.6,10-53,18.9,263-333,79.0,50,289,339,310,26,85,119,162,1375,3
14,2002-03,WSH,679-1527,44.5,16-55,29.1,266-324,82.1,71,426,497,311,39,123,171,173,1640,3
15,Career,NaN,12192-24537,49.7,581-1778,32.7,7327-8772,83.5,1668,5004,6672,5633,893,2514,2783,2924,32292,3

## Postseason Averages

In [285]:
# Combining the 3 player's postseason averages
regular_postseason_averages = lebron_postseason_average.append(kobe_postseason_average
                                                              ).append(micheal_postseason_average)                                                            
regular_postseason_averages.tail()

,season,team,gp,gs,min,fg,fg%,3pt,3p%,ft,...,or,dr,reb,ast,blk,stl,pf,to,pts,player
9,1994-95,CHI,10,10,42.0,12.0-24.8,48.4,1.1-3.0,36.7,6.4-7.9,...,2.0,4.5,6.5,4.5,1.4,2.3,3.0,4.1,31.5,3
10,1995-96,CHI,18,18,40.7,10.4-22.6,45.9,1.4-3.4,40.3,8.5-10.4,...,1.7,3.2,4.9,4.1,0.3,1.8,2.7,2.3,30.7,3
11,1996-97,CHI,19,19,42.3,11.9-26.2,45.6,0.7-3.5,19.4,6.5-7.8,...,2.2,5.7,7.9,4.8,0.9,1.6,2.4,2.6,31.1,3
12,1997-98,CHI,21,21,41.5,11.6-25.0,46.2,0.6-2.0,30.2,8.6-10.6,...,1.6,3.5,5.1,3.5,0.6,1.5,2.2,2.1,32.4,3
13,Career,NaN,179,179,41.8,12.2-25.1,48.7,0.8-2.5,33.2,8.2-9.9,...,1.7,4.7,6.4,5.7,0.9,2.1,3.0,3.1,33.4,3

## Postseason Totals

In [287]:
# Combining the 3 player's postseason totals
regular_postseason_totals = lebron_postseason_total.append(kobe_postseason_total
                                                              ).append(micheal_postseason_total)                                                            
regular_postseason_totals.tail()

,season,team,fg,fg%,3pt,3p%,ft,ft%,or,dr,reb,ast,blk,stl,pf,to,pts,player
9,1994-95,CHI,120-248,48.4,11-30,36.7,64-79,81.0,20.0,45.0,65.0,45.0,14.0,23.0,30.0,41.0,315.0,3
10,1995-96,CHI,187-407,45.9,25-62,40.3,153-187,81.8,31.0,58.0,89.0,74.0,6.0,33.0,49.0,42.0,552.0,3
11,1996-97,CHI,227-498,45.6,13-67,19.4,123-148,83.1,42.0,108.0,150.0,91.0,17.0,30.0,46.0,49.0,590.0,3
12,1997-98,CHI,243-526,46.2,13-43,30.2,181-223,81.2,33.0,74.0,107.0,74.0,12.0,32.0,47.0,45.0,680.0,3
13,Career,NaN,2188-4497,48.7,148-446,33.2,1463-1766,82.8,305.0,847.0,1152.0,1022.0,158.0,376.0,541.0,546.0,5987.0,3

# Converting into CSV

Now its time convert the 4 dataframes into csv format

In [292]:
regular_season_averages.to_csv(r'./Desktop', index = False)